.post-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1% auto;

  .topPostPic {
    margin: 5% 2% 2%;
    display: flex;
    align-items: center;

    .thumbnailPic {
      width: 5%;
      height: 8%;
      border-radius: 100%;
    }

    h3 {
      font-size: 100%;
      margin: 0% 1%;
    }
  }

  .belowPostPic {
    margin: 0% 2%;
    .likesIcons {
      display: flex;

      .heartButton {
        padding: 1% 0%;
        width: 6%;
      }
    }
  }
}
